* {
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  width: 60px;
}

a[href$=".html"]{
  padding-top: 12px;
  padding-bottom: 12px;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#categories{
  padding: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 440px;
  height: 100%;
  border-radius: 8px;
  margin: 0 auto;
}

#categories>.item {
background: #f6f6fe;
padding: 16px;
width: 392px;
height: 100%;
border-radius: 8px;
font-family: "Montserrat", sans-serif;
}

#categories h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0 0 16px 0;
}

.item ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.item li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px 24px;
  flex-wrap: wrap;
  padding: 100px 0;
}

img {
  display: block;
}

.gallery img {
max-width: 360px;
height: 300px;
}

input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  border: 1px solid #808080;
}

input:hover {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #808080;
}

#name-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 12px;
  padding: 8px;
}

#name-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.task3 {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 24px;
  gap: 8px;
}

.login-form>label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  outline: none;
  border:none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
}

.blue-btn:hover,
.blue-btn:focus {
  background: #6c8cff;
}

.widget{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.widget>p{
  width: auto;
  margin:0;
}

.change-color {
  width: auto;
  margin: 0;
}

.change-color:hover {
  background: #6c8cff;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  max-width: 886px;
  height: 104px;
  background: #f6f6fe;
  margin: 0 auto 16px;
}

#controls button {
  margin: 0;
}

.create-btn {
width: 120px;
}

.create-btn:hover,
.create-btn:focus {
  background: #6c8cff;
}

.destroy-btn {
  width: 120px;
  background: #ff4e4e;
}

.destroy-btn:hover,
.destroy-btn:focus {
  background: #ff7070;
}

#controls input {
  text-align: center;
}

#boxes {
  border-radius: 8px;
  padding: 32px;
  max-width: 886px;
  min-height: 160px;
  background: #f6f6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 16px;
}